tmp
*.log
snap
.snap
lfs
.lfs

**/*.part
**/.*.sw*
**/.DS_*
**/.DocumentRev*
**/.Spotlight*
**/.[tT]emp*
**/.[tT]mp*
**/.[tT]rash*
**/.fs*
**/cache
*._*
*.bak*
*.sw*
tmp

# python and unix files

*.py[cod]
*.rpy[cod]
*.ytdl
.Python
.Xauth*
.ipynb_checkpoints
.vscode
__pycache__/
generated
pyvenv.cfg
# Application Files
*Auto-Save
Adobe*Previews

# whatever remains spoken elsewhere
src
